.panel {
    width: 45%;
    height: 150px;
    margin: 20px;
    position: relative;
    font-size: .8em;
    
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
}

.panelbox {
    width: 45%;
    height: 137px;
    border: 1px solid #A3A1A2;
    padding: 15px;
    border-radius: 6px;
    margin-top: 13px;
    overflow: auto;
    
    background-color: #DDDDDD;
    background-image: -webkit-linear-gradient(top, #DDDDDD, #F7F7F7);
    background-image: -moz-linear-gradient(top, #DDDDDD, #F7F7F7);
}

.panel > div > div {
    border: 1px solid #A3A1A2;
    box-shadow: 2px 2px 5px #ccc;
    padding: 0 15px 15px 15px;
    border-radius: 6px;
    margin-top: 20px;
    
    background-color: #DDDDDD;
    background-image: -webkit-linear-gradient(top, #DDDDDD, #F7F7F7);
    background-image: -moz-linear-gradient(top, #DDDDDD, #F7F7F7);
}

.panel > div > ul {
    list-style-type: none;
    position: relative;
    top: -19px;
    padding: 0 8px;
}

.panel > div > ul > li {
    margin: 0;
    float: left;
    border: 1px solid #A3A1A2;
    border-bottom-style: none;
    border-radius: 4px 4px 0 0;
    cursor: pointer;
    padding: 5px;
    
    background-color: #F7F7F7;
    background-image: -webkit-linear-gradient(top, #F7F7F7, #DDDDDD);
    background-image: -moz-linear-gradient(top, #F7F7F7, #DDDDDD);
}

.panel > div > ul > li:hover {
    box-shadow: 0 -2px 4px #ccc;
}

.panel > div > ul > li:first-child {
    cursor: default;
    box-shadow: none;
}

.panel > div > ul > li:first-child:hover {
}

.panel > div > ul > li:last-child {
    float: right;
    border-bottom-style: solid;
    position: relative;
    top: -1px;
}

.panel > div.front {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 900;
    width: 100%;
    height: inherit;
    
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.panel.flip > div.front {
    z-index: 900;
    
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}

.panel > div.back {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 800;
    width: 100%;
    height: inherit;
    
    -webkit-transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    
    -moz-transform: rotateY(-180deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.panel.flip > div.back {
    z-index: 1000;
    
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
}