<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Camera Attacher - Haunted House</title>
<link rel="stylesheet" type="text/css" href="/static/style.css">
<style type="text/css">
#main {
    max-height: -moz-calc(100% - 20px);
    max-height: -webkit-calc(100% - 20px);
    max-height: calc(100% - 20px);
}

video {
    max-height: 40%;
}

.container {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 7px;
}

.container h2 {
    text-decoration: underline;
    cursor: pointer;
}

.container h2:hover {
    text-decoration: none;
}
</style>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
var config = {{{config}}};
</script>
<script type="text/javascript" src="/static/cameras.attacher.js"></script>
</head>

<body>
<section class="textcentered">
    <header><h1>Attach a Camera</h1></header>
    <div id="main">
        <table class="pretty" style="width: auto; margin: auto;"><tr><td><span id="status">Loading...</span></td></tr></table>
        <div id="content"></div>
        <p style="display: none;"><button id="addCamera" type="button">Add another camera</button></p>
    </div>
</section>
</body>
</html>