<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Camera Attacher - Haunted House</title>
<link rel="stylesheet" type="text/css" href="/static/style.css">
<script type="text/javascript" src="/static/jquery.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/static/cameras.attacher.js"></script>
</head>

<body>
<section>
    <header><h1>Attach a Camera</h1></header>
    <div>
        <table class="pretty" style="width: auto; margin: auto;">
            <tr>
                <td style="text-align: right;">Server Connection:</td>
                <td><span id="status_socket">Loading...</span></td>
            </tr>
            <tr>
                <td style="text-align: right;">Video Stream:</td>
                <td><span id="status_video">Loading...</span></td>
            </tr>
        </table>
        <p>&nbsp;</p>
        <div id="content" style="text-align: center;">
        
        </div>
    </div>
</section>
</body>
</html>