<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Client - Haunted House</title>
<script type="text/javascript" src="/static/shared.js"></script>
<script type="text/javascript" src="/static/clientframe.js"></script>
</head>

<body>
<div style="position: absolute; left: 0; right: 0; bottom: 0; top: 0; background-color: black; color: white; padding: 10px; overflow: auto;"><table style="width: 100%; height: 100%;"><tbody><tr><td>
    <div id="loading" style="text-align: center;"><noscript><p>ERROR: JavaScript is required to view this page.</p></noscript></div>
    <div id="panel_start" style="display: none; margin: auto; border: 1px solid grey; border-radius: 5px; padding: 10px;">
        <div id="prompt_controller">
            <p style="text-align: center;"><button id="btn_use_controller" type="button">Use External Controller</button></p>
            <p style="text-align: center;"><button id="btn_skip_controller" type="button" style="border: none;">Skip</button></p>
        </div>
        <div id="not_controller">
            <form id="theform" action="/client/frame">
                <input type="hidden" name="cid" value="{{cid}}"><input type="hidden" name="x" value="{{x}}"><input type="hidden" name="y" value="{{y}}"><input type="hidden" id="use_controller" name="use_controller" value="no">
                <p>Select a channel:</p>
                <p>{{{channellist}}}</p>
                <div id="controller_options" style="display: none;">
                    <p id="hhls_keyholder">Detected devices:</p>
                    <p id="devicelist"></p>
                    <p><input type="radio" id="controller_exec_option" name="controller" value="exec"><input type="hidden" id="controller_exec" name="controller_exec" value="">&nbsp;<label for="controller_exec_option">Custom Executable</label><div id="controller_ifexec" style="margin-left: 25px;"><button id="controller_exec_browse" type="button">Browse</button>&nbsp;<span id="controller_exec_path" style="font-size: 11pt;"></span>&nbsp;<button id="controller_exec_arguments" type="button">Arguments</button><br><i>The executable will be called with <span id="controller_exec_ifOneArg">one argument: </span><span id="controller_exec_ifMultipleArgs" style="display: none;">multiple arguments: any arguments defined above ("Arguments" button), and </span>"1" if the controller should be turned ON or "0" if the controller should be turned OFF</i><br><span id="controller_exec_moreinfo" style="font-size: 11pt;"></span></div></p>
                </div>
                <p><input type="submit" value="Go"></p>
            </form>
        </div>
    </div>
</td></tr></tbody></table></div>
</body>
</html>