<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Client - Haunted House</title>
<style type="text/css">
body {
    font-size: 10pt;
    font-family: sans-serif;
    
    /* Defaults */
    background-color: #FFFFFF;
    text-shadow: 1px 1px 1px #FFFFFF;
    color: #000000;
}

#bg {
    /* Defaults */
    background-color: #000000;
}

ul li {
    display: inline;
}

ul li:before {
    content: ", ";
}

ul li:first-child:before {
    content: "";
}

span.btn {
    cursor: pointer;
    text-decoration: underline;
}

span.btn:hover {
    text-decoration: none;
}

span.heading {
    font-weight: bold;
    text-decoration: underline;
}

table.bordered {
    border-collapse: collapse;
}

table.bordered > tbody > tr > td {
    border: 1px solid grey;
    padding: 7px;
}
</style>
<script type="text/javascript">
var cid = {{cid}}, x = {{x}}, y = {{y}};
var channel = "{{{channel}}}", channeltype = "{{{channeltype}}}";
{{#old_prop}}var old_prop = {{{old_prop}}};
{{/old_prop}}</script>
<script type="text/javascript" src="/static/clientframe2.js"></script>
<script type="text/javascript" src="/static/clientframe2.{{{channeltype}}}.js"></script>
</head>

<body>

<div id="bg" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; opacity: 0;">&nbsp;</div>

<div id="loading" style="position: absolute; left: 0; right: 0; text-align: center;"><noscript><p>ERROR: JavaScript is required to view this page.</p></noscript></div>

<div id="panel" style="position: absolute; top: 1px; left: 1px; display: none;">
    <span id="options" class="btn">Options</span><br>
    <span id="status" style="font-style: italic;">Loading...</span><br>
</div>

<div id="bottompanel" style="position: absolute; bottom: 1px; left: 1px; right: 1px;">
    <span id="status2" style="float: left;"></span>
    <span id="status3" style="float: right;"></span>
</div>
{{#sounds}}
<div style="display: none;">
{{{sounds}}}</div>
{{/sounds}}
<div id="bigstatuscontainer" style="position: absolute; left: 0; right: 0; bottom: 0; top: 0; background-color: black; color: white; text-shadow: none; padding: 10px; overflow: auto; display: none;"><table style="width: 100%; height: 100%;"><tbody><tr><td>
    <div id="panel_options">
        <table class="bordered" style="margin: auto;"><tbody>
            <tr>{{#sounds}}
                <td valign="top">
                    <div class="heading">Loaded Sounds:</div>
                    <ul id="sndlst" style="max-width: 230px; padding: 0; margin: 0 15px;"></ul>
                </td>{{/sounds}}
                <td valign="top">
                    <div class="heading">Options:</div>
                    <div style="margin-left: 15px;">{{#sounds}}
                        <label for="slider">Volume:</label><br>
                        <input id="slider" type="range" autocomplete="off" min="0" max="100" value="80"><br><br>
                        <span id="noflash_container"><input id="noflash_check" type="checkbox"><label for="noflash_check"> No Flash</label><br><br></span>{{/sounds}}
                        <table>
                            <tr>
                                <td><label for="oncolor">"On" color: </label></td>
                                <td><input type="color" id="oncolor" value="#000000" size="8"></td>
                            </tr>
                            <tr>
                                <td><label for="offcolor">"Off" color: </label></td>
                                <td><input type="color" id="offcolor" value="#FFFFFF" size="8"></td>
                            </tr>
                        </table>
                        <br>
                        <span id="close" class="btn">Close Connection</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td{{#sounds}} colspan="2"{{/sounds}}>
                    <div class="heading">Status History:</div>
                    <div style="max-height: 160px; overflow: auto; margin-left: 15px;"><table><tbody id="statushistory"></tbody></table></div>
                </td>
            </tr>
        </tbody></table>
        <div style="text-align: center;">Channel: <span id="channel_label" style="font-style: italic;">{{channel}}</span> ({{channeltype}})<br><span id="reloader" class="btn">Change Channel</span></div>
        <div style="text-align: center; margin-top: 10px;"><button id="closer">Close</button></div>
    </div>
</td></tr></tbody></table></div>

</body>
</html>