<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Client - Haunted House</title>
</head>

<body>
<div style="position: absolute; left: 0; right: 0; bottom: 0; top: 0; background-color: black; color: white; opacity: .9; padding: 10px; overflow: auto;"><table style="width: 100%; height: 100%;"><tbody><tr><td>
    <div id="panel_start" style="margin: auto; border: 1px solid grey; border-radius: 5px; padding: 10px;">
        <form action="/client/frame">
            <input type="hidden" name="mynum" value="{{mynum}}"><input type="hidden" name="x" value="{{x}}"><input type="hidden" name="y" value="{{y}}">
            <p>Select a channel:</p>
            <p>{{{channellist}}}</p>
            <p><input type="submit" value="Go"></p>
        </form>
    </div>
</td></tr></tbody></table></div>
</body>
</html>