<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Haunted House</title>
<link rel="stylesheet" type="text/css" href="/static/style.css">
<style type="text/css">
section > div {
    font-size: 12pt;
}

td {
    vertical-align: top;
}

button {
    min-width: 100px;
    font-size: 12pt;
}

a {
    color: inherit;
    text-decoration: inherit;
}

li a {
    color: black;
}

li a:hover {
    text-decoration: underline;
}
</style>
</head>

<body>
<section class="left">
    <header><h1>Haunted House Logistics Server</h1></header>
    <div style="text-align: center;">
        <table><tbody><tr>
            <td>
                <p>Effects &amp; Video:</p>
                <p><a href="/client"><button type="button">client</button></a></p>
                <p><a href="/control"><button type="button">control</button></a></p>
            </td>
            <td>
                <p>Cameras:</p>
                <p><a href="/cameras/viewer"><button type="button">View cameras</button></a></p>
                <p><a href="/cameras/attacher"><button type="button">Attach a camera</button></a></p>
            </td>
        </tr></tbody></table>
    </div>
</section>

<section class="right">
    <header><h1>Resources</h1></header>
    <div>
        <ul>
        {{#files}}<li><a href="/{{dir}}/{{file}}">{{file}}</a></li>
        {{/files}}</ul>
    </div>
</section>
</body>
</html>