<!DOCTYPE html>
<html>
<head><title>Test</title></head>
<body>
<p><audio id="audio-element" src="/sounds/thunder1.ogg" controls="true" style="width: 512px;" autoplay="true"></p>
<div id="analyser" style="width: 600px; height: 600px; background-color: black; opacity: .5;">&nbsp;</div>

<script>
var audioElem;
var context;
var source;
var analyser;
//var min = Infinity, max = 0;
var min = 60, max = 105;

window.AudioContext = window.AudioContext || window.webkitAudioContext;

window.requestAnimationFrame = window.requestAnimationFrame || window.mozRequestAnimationFrame || window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;

window.onload = function () {
    audioElem = document.getElementById("audio-element");
    if (audioElem.readyState < 3) {
        audioElem.addEventListener("canplay", go, false);
    } else {
        go();
    }
};

function go() {
    context = new AudioContext();
    analyser = context.createAnalyser();
    source = context.createMediaElementSource(audioElem);
    source.connect(analyser);
    analyser.connect(context.destination);
    render();
}

function render(){
    var freqByteData = new Uint8Array(analyser.frequencyBinCount);
    analyser.getByteFrequencyData(freqByteData);
    
    var val = 0;
    for (var i = 0; i < analyser.frequencyBinCount; i++) {
        val += freqByteData[i];
    }
    val /= analyser.frequencyBinCount;
    val -= min;
    val /= max;
    if (val > .6) val = 1;
    if (val < 0) val = 0;
    document.getElementById("analyser").style.opacity = val;
    //if (val && val < min) min = val;
    //if (val && val > max) max = val;
    window.requestAnimationFrame(render);
}
</script>
</body>
</html>